body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #333333;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

.page-container,
.page-container-inner {
  width: 1200px;
  margin: 0 auto;

  background-color: #ffffff;

  position: relative;

  box-shadow: 0 -5px 15px 0 rgba(0, 0, 0, 0.2);
}

a {
  text-decoration: none;
}

.button {
  font-size: 21px;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  border: none;
}

.main-navigation {
  line-height: 26px;
}

.site-navigation {
  display: flex;
  align-items: center;

  margin: 0;
  padding: 0;
  width: 100%;

  list-style: none;
  flex-wrap: wrap;
}

.header-logo {
  position: absolute;
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;

  width: 138px;
  height: 70px;

  z-index: 1;
}

.site-navigation li {
  text-align: center;

  flex-basis: 239px;
  flex-grow: 0;
  flex-shrink: 0;
  padding-top: 15px;
  padding-bottom: 15px;
}

.site-navigation li:nth-child(2) {
  margin-right: 243px;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover {
  color: #81b3d2;

  background-color: #ffffff;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);

  background-color: #ffffff;
}

.site-navigation .active {
  color: #766357;
  
  background-color: #ffffff;
}

.container-intro {
  position: relative;
  margin-bottom: 61px;
}

.background-image {
  display: block;

  width: 1200px;
  height: 508px;
}

.container-intro::after {
  content: "";
  position: absolute;

  left: 0;
  bottom: -5px;

  width: 1200px;
  height: 60px;
  
  background-color: transparent;
  background-image: url("../img/white-layer.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.welcome-greeting {
  position: absolute;
  top: 76px;
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;

  width: 458px;
  height: 352px;

  background-color: transparent;
}

.introduction {
  margin: 0 312px 28px;
  text-align: center;

  font-size: 21px;
  line-height: 26px;
  color: rgb(0, 0, 0);
}

.subtitle-info {
  margin: 0 300px 50px;
  text-align: center;

  line-height: 26px;
  font-weight: 400;
  color: #333333;
}

.sedona-benefits {
  margin-bottom: 54px;
}

.benefits-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.benefits-item {
  line-height: 21px;

  background-color: #eeeeee;
  text-align: center;
}

.benefits-item h3 {
  font-size: 21px;
}

.number {
  font-weight: 400;
  display: block;
  margin-bottom: 21px;
}

.description {
  font-weight: 400;

  color: #333333;
}

.one-container {
  display: flex;
  flex-wrap: wrap;
}

.content-one,
.content-two {
  color: #ffffff;

  background-color: rgb(129, 179, 210);

  flex-basis: 400px;
  flex-grow: 0;
  flex-shrink: 0;

  padding: 48px 47px 55px;
  box-sizing: border-box;
}

.content-one h3,
.content-two h3,
.benefits-item-group h3 {
  margin: 0;
  margin-bottom: 24px;
}

.content-one h3 {
  padding-right: 50px;
  padding-left: 50px;
}

.content-one .description,
.content-two .description {
  margin: 0;
  color: #ffffff;
}

.recommendations-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;

  list-style: none;

  color: rgb(0, 0, 0);

  background-color: #ffffff;
}

.recommendation-item {
  flex-basis: 400px;
  flex-grow: 0;
  flex-shrink: 0;

  padding: 163px 55px 81px;
  box-sizing: border-box;
}

.recommendation-item h4 {
  margin: 0;
  margin-bottom: 24px;

  position: relative;

  font-size: 21px;
}

.recommendation-item-one h4::before {
  content: "";

  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);

  width: 75px;
  height: 72px;

  background-color: transparent;
  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
}

.recommendation-item-two h4::before {
  content: "";

  position: absolute;
  bottom: 52px;
  left: 50%;
  transform: translateX(-50%);

  width: 74px;
  height: 70px;

  background-color: transparent;
  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
}

.recommendation-item-three h4::before {
  content: "";

  position: absolute;
  bottom: 51px;
  left: 50%;
  transform: translateX(-50%);

  width: 64px;
  height: 76px;

  background-color: transparent;
  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
}

.recommendation-item p {
  margin: 0;

  font-weight: 400;

  color: #333333;
}

.benefit-one-pic,
.benefit-two-pic {
  width: 800px;
  height: 256px;
}

.two-container {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}

.benefits-group {
  display: flex;
  flex-wrap: wrap;

  color: rgb(0, 0, 0);

  background-color: rgb(238, 238, 238);
}

.benefits-item-group {
  flex-basis: 400px;
  flex-grow: 0;
  flex-shrink: 0;

  padding: 47px 69px 57px;
  box-sizing: border-box;
}

.benefits-item-group h3 {
  padding-right: 70px;
  padding-left: 70px;
}

.benefits-item-group .description {
  margin: 0;
}

.search-hotel-form b {
  display: block;
  margin: 0 auto 23px;
  padding-right: 100px;
  padding-left: 100px;

  font-size: 30px;
  line-height: 36px;

  color: #000000;

  text-align: center;
}

.intro-text {
  margin: 0 auto 47px;
  padding-right: 100px;
  padding-left: 100px;
  font-weight: 400;
  line-height: 24px;

  text-align: center;
}

.container-search {
  width: 568px;
  position: relative;
  margin: 0 auto;
  margin-bottom: -395px;

  min-height: 481px;

  overflow: hidden;
}

.search-form-header {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;

  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 34px 50px 29px;

  position: relative;
  z-index: 1;

  background-color: rgb(118, 99, 87);
}

.search-form-header:hover {
  color: #ffffff;

  background-color: rgb(96, 78, 67);
}

.search-form-header:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: rgb(80, 62, 51);
}

@keyframes toggle {
  0% {
    transform: translateY(-395px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-5px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(5px);
  }
}

.hotel-form {
  display: block;
  padding: 57px 55px 53px;
  width: 568px;
  background-color: #ffffff;
  min-height: 395px;
  
  position: absolute;
  box-sizing: border-box;

  animation: toggle 0.8s;
}

.hotel-form-hide {
  display: none;
}

.hotel-form-error {
  animation: shake 0.6s;
}


.form-items {
  display: flex;
  flex-wrap: wrap;

  margin-bottom: 54px;
}

.search-item {
  line-height: 26px;

  color: #000000;
  text-align: left;
}

.search-item input {
  font: inherit;
  text-transform: uppercase;

  background-color: rgb(242, 242, 242);
  border: none;
}

.form-items .search-item-one,
.form-items .search-item-two {
  position: relative;
  flex-basis: 100%;
  flex-grow: 0;
  flex-shrink: 0;

  display: flex;  
  justify-content: space-between;
  align-items: center;

  margin-bottom: 29px;
}

.form-items .search-item-one input,
.form-items .search-item-two input {
  width: 331px;
  padding-top: 6px;
  padding-bottom: 6px; 
  padding-left: 13px;
} 

.search-item input::placeholder {
  color: #000000;
}

.search-item input:hover {
  color: rgb(0, 0, 0);

  background-color: rgb(235, 235, 235);
}

.search-item input:focus {
  color: rgb(0, 0, 0);

  background-color: transparent;
  box-shadow: 0 0 0 2px rgb(229, 229, 229);
}

.calendar {
  position: absolute;
  top: 6px;
  left: 422px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.calendar:hover path {
  fill: #000000;
}

.calendar:active path {
  fill: #81b3d2;
}

.form-items .search-item-group {
  position: relative;
  display: flex;
  flex-wrap: nowrap;

  width: 100%;
}

.search-item-group input {
  position: relative;
  width: 38px;
  padding-bottom: 6px;
  padding-top: 6px;
  text-align: center;
}

.plus,
.minus {
  padding: 0;

  border: none;
  width: 38px;
  height: 38px;
  vertical-align: bottom;

  background-color: #f2f2f2;
}

.count-less,
.count-more {
  color: #a9a9a9;
  font-weight: 400;
  font-size: 25px;
  text-align: center;
}

.count-less:hover,
.count-more:hover {
  color: #000000;
}

.count-less:active,
.count-more:active {
  color: #81b3d2;
}

.search-item-group .search-item {
  flex-basis: 229px;
  flex-grow: 0;
  flex-shrink: 0;

  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.count-group {
  display: flex;

  margin-left: auto;
}

.search-item-group .search-item:nth-child(2) label {
  padding-left: 50px;
}

.search-form-button {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 21px;
  font-weight: 700;

  color: #ffffff;

  background-color: rgb(129, 179, 210);

  width: 100%;
  padding: 17px 50px;
}

.search-form-button:hover {
  color: #ffffff;

  background-color: rgb(102, 158, 192);
}

.search-form-button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: rgb(84, 150, 189);
}

.page-footer {
  position: relative;
  margin-top: -122px;

  color: rgb(0, 0, 0);

  background-color: rgba(255, 255, 255, 0.9);
}

.page-footer-inner {
  margin: 0;
  background-color: #ffffff;
}

.page-footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  background-color: transparent;

  padding: 22px 101px 23px 132px;
}

.hashtag {
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
}

.footer-social {
  text-align: center;

  margin-left: 25px;
}

.footer-social ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 150px;
  margin: 0 auto;
  padding: 0;

  list-style: none;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;

  background-color: #81b3d2;
}

.social-button:hover {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
}

.social-button:hover path {
  fill: #ffffff;
}

.social-button:active path {
  fill: rgba(255, 255, 255, 0.3);
}

.footer-copyright span {
  font-weight: 400;
  line-height: 26px;

  position: relative;
  top: -15px;
  left: -4px;
}

.developer-logo {

  width: 115px;
  height: 41px;
}

.developer-logo:hover path {
  fill: #81b3d2;
}

.developer-logo:active path {
  fill: #bdbbbc;
}


/* Стилизация внутренней страницы */

.search-hotels {
  background-color: rgb(129, 179, 210);
  background-image: url("../img/filter-background.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.search {
  display: flex;
  flex-wrap: wrap;
}

.search fieldset {
  padding: 0;
  margin-top: 28px;
  margin-bottom: 7px;
  margin-left: 71px;
}

.search fieldset:nth-child(2) {
  margin-left: 14px;
}

.search-checkbox-one,
.search-checkbox-two {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 241px;
  border: none;
}

.search-checkbox {
  position: absolute;
  top: -2px;
  left: 0px;

  width: 23px;
  height: 23px;
  cursor: pointer;
}

.search-checkbox-checked {
  position: absolute;
  top: -2px;
  left: 0px;

  width: 27px;
  height: 23px;
  cursor: pointer;
}

.search-checkbox:hover path {
  fill: #ffffff;
}

.search-checkbox-checked:hover path {
  fill: #ffffff;
}

.search-checkbox:disabled path {
  fill: #6a6a6a;
}

.search-checkbox-checked:disabled path {
  fill: #6a6a6a;
}

.search .search-price {
  flex-shrink: 0;
  margin-top: 28px;
  margin-left: 240px;
  border: none;
}

.filter-title {
  font-size: 16px;

  color: #ffffff;

  margin-bottom: 25px;
}

.filter-range-title {
  margin-bottom: 9px;

  font-size: 16px;

  color: #ffffff;
}

.search-list {
  margin: 0;
  padding: 0;
  list-style: none;

  font-weight: 400;
  color: #ffffff;
}

.search-option {
  position: relative;
  margin-bottom: 25px;
  padding-left: 40px;
}

.search-option label {
  position: relative;

  display: block;

  cursor: pointer;
  user-select: none;
} 

.price-min,
.price-max {
  font-weight: 400;
  color: #ffffff;

}

.price-controls {
  position: relative;

  height: 34px;
  margin-bottom: 18px;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
}

.price-controls label {
  display: inline-block;
  
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .price-min,
.price-controls .price-max {
  width: 92px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 20px;
  height: 22px;

  cursor: pointer;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.range-toggle:hover {
  transform: scale(1.1);
}

.search-button {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 21px;

  color: #ffffff;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.search-button.button:hover {
  color: rgb(0, 0, 0);

  background-color: #ffffff;
}

.listing-options {
  display: flex;
  align-items: flex-end;

  padding: 30px 71px;
}

.result {
  color: #000000;

  display: block;
  margin-right: 48px;


  font-size: 21px;
  line-height: 26px;
}

.sort-by-option {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;

  color: #000000;

  display: flex;
}

.sort-by-option h3 {
  font-size: 12px;
  font-weight: 400;

  margin: 0;
}

.sort-by-list {
  list-style: none;

  display: flex;
  flex-wrap: wrap; 
  margin: 0;
  margin-right: 40px;
}

.sort-by-list a {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #81b3d2;

  background-color: #ffffff;
}

.sort-by-list a:hover {
  color: #81b3d2;
  border-bottom: 1px dotted #81b3d2;
}

.sort-by-list a:active {
  color: rgb(0, 0, 0);
  border: none;
}

.sort-by-list .active a {
  color: #81b3d2;
  border: none;
}

.sort-by-item {
  margin-right: 32px;

  flex-grow: 0;
  flex-shrink: 0;
}

.sort-value-list {
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
  
  margin: 0;
  padding: 0;
  margin-left: auto;
}

.sort-value-list li:nth-child(2) {
  margin-left: 11px;
}

.sort-value {
  cursor: pointer;
}

.sort-value:hover path {
  fill: #231f20;
}

.sort-value:active path {
  fill: #81b3d2;
}

.sort-value-list .active path {
  fill: #81b3d2;
}

.hotels-group {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}

.hotel-item {
  position: relative;
  margin: 0;
  padding: 0;
  padding: 29px 73px;

  border-top: 1px solid #e5e5e5;
}

.hotels-group li:last-child {
  border-bottom: 1px solid #e5e5e5;
}

.hotel-item h2 {
  margin: 0;
  padding: 0;
}

.hotels-photo {
  position: absolute;
  top: 30px;

  width: 135px;
  height: 90px;
}

.hotel-name {
  font-size: 21px;
  line-height: 26px;

  margin-left: 165px;
}

.hotels-group .hotel-name {
  color: rgb(0, 0, 0);

  background-color: #ffffff;
}

.hotels-group .hotel-name:hover {
  color: #81b3d2;
}

.hotels-group .hotel-name:active {
  color: rgba(0, 0, 0, 0.3);
}

.hotel-type {
  font-weight: 400;

  background-color: #ffffff;
  margin-top: 5px;
  margin-left: 165px;

}

.hotel-price {
  font-weight: 400;

  margin-left: 281px;
  margin-top: -35px;
}

.hotel-button {
  display: inline-block;
  padding: 3px 16px;

  font-size: 14px;
  color: #ffffff;
  line-height: 21px;
  font-weight: 700;
} 

.hotels-group .read-more-button {
  margin-left: 166px;
  color: #ffffff;
  background-color: #81b3d2;
}

.hotels-group .read-more-button:hover {
  background-color: #669ec0;
}

.hotels-group .read-more-button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}

.hotels-group .book-button {
  color: #ffffff;
  background-color: rgb(118, 99, 87);
}

.hotels-group .book-button:hover {
  background-color: #604e43;
}

.hotels-group .book-button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}

.hotel-stars {
  position: absolute;
}

.stars-four {
  top: 15px;
  left: 1038px;

  width: 95px;
  height: 20px;

  background-image: url("../img/stars-4.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.stars-three {
  top: 15px;
  left: 1062px;

  width: 65px;
  height: 17px;

  background-image: url("../img/stars-3.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.stars-two {
  top: 16px;
  left: 1088px;

  width: 41px;
  height: 17px;

  background-image: url("../img/stars-2.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}


.hotel-rating {
  padding: 3px 14px;
  position: absolute;
  left: 1019px;
  bottom: 29px;
  font-weight: 400;

  color: #666666;

  background-color: #f2f2f2;
}

.visuallyhidden {
position: absolute;

width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;

clip: rect(0 0 0 0);
overflow: hidden;
}
