body {
  margin: 0;
  padding: 0;

  min-width: 1200px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #333333;
  text-transform: uppercase;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.button {
  font-size: 21px;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  border: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.page-header {
  margin-bottom: 0px;

  min-height: 56px;

  background-color: #ffffff;
}

.main-navigation {
  display: flex;
  flex-direction: row;

  width: 100%;
  min-height: 56px;

  line-height: 26px;
  color: rgb(0, 0, 0);

  background-color: #ffffff;
  outline: 1px solid #ec1c24;
}

.site-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  width: 1200px;

  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;

  min-height: 56px;

  list-style: none;
  outline: 1px solid #ec1c24;
}

.header-logo {
  position: absolute;
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;

  width: 138px;
  height: 70px;

  z-index: 3;
}

.site-navigation li {
  width: 239px;
  outline: 1px solid #ec1c24;
  text-align: center;
}

.site-navigation li:nth-child(2) {
  margin-right: 240px;

  outline: 1px solid #ec1c24;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover {
  color: #81b3d2;

  background-color: #ffffff;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);

  background-color: #ffffff;
}

.site-navigation.active a {
  color: #766357;

  background-color: #ffffff;
}

.container-intro {
  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 0;

  align-items: center;
}

.background-image {
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;

  width: 100%;
  height: 773px;
}

.welcome-greeting {
  position: absolute;
  top: 132px;
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;

  width: 458px;
  height: 352px;

  background-color: transparent;
}

.container h1 {
  position: absolute;
  top: 627px;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 35px;

  font-size: 21px;
  line-height: 26px;
  color: rgb(0, 0, 0);

  background-color: #ffffff;
  z-index: 4;
}

.subtitle-info {
  position: absolute;
  top: 707px;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;

  text-align: center;

  line-height: 26px;
  font-weight: 400;
  color: #333333;

  background-color: #ffffff;
  z-index: 4;
}

.recommendation-item p{
  color: #333333;
}

.benefits-list {
  list-style: none;
}

.benefits-item {
  text-align: center;
}

.benefits-item h3 {
  font-size: 21px;
}

.number {
  font-weight: 400;
}

.description {
  font-weight: 400;

  color: #333333;
}

.benefits-item-one {
  color: #ffffff;

  background-color: rgb(129, 179, 210);
}

.benefits-item-one .description {
  color: #ffffff;
}

.recommendations-list {
  display: flex;
  margin-left: -40px;
  padding: 0;

  width: 1200px;

  list-style: none;

  color: rgb(0, 0, 0);

  background-color: #ffffff;

  /* Временно для сетки */
  min-height: 330px;
  outline: 1px solid #ec1c24;
}

.recommendation-item {
  width: 400px;
   /* Временно для сетки */
  min-height: 330px;
  outline: 1px solid #ec1c24;
}

.recommendation-item h4 {
  font-size: 21px;
}

.recommendation-item p {
  font-weight: 400;
}

.benefits-item-two {
  color: #ffffff;

  background-color: rgb(129, 179, 210);
}

.benefits-item-two .description {
  color: #ffffff;
}

.one-container {
  display: flex;
  margin: 0;
  padding: 0;

  /* Временно для сетки */
  min-height: 256px;
  outline: 1px solid #ec1c24;
}

.content-item-one {
  margin-left: -40px;
  width: 400px;
  /* Временно для сетки */
  min-height: 256px;
  outline: 1px solid #ec1c24;
}

.benefit-one-pic,
.benefit-two-pic {
  width: 800px;
  height: 256px;
}

.two-container {
  display: flex;
  flex-direction: row-reverse;
  margin: 0;
  padding: 0;
  margin-left: -40px;
  /* Временно для сетки */
  min-height: 256px;
  outline: 1px solid #ec1c24;
}

.content-item-two {
  width: 400px;
  /* Временно для сетки */
  min-height: 256px;
  outline: 1px solid #ec1c24;
}

.benefits-group {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  width: 1200px;
  margin-bottom: 55px;
  margin-left: -40px;
   /* Временно для сетки */
  min-height: 256px;
  outline: 1px solid #ec1c24;

  color: rgb(0, 0, 0);

  background-color: rgb(238, 238, 238);
}

.benefits-item-group {
  width: 400px;
  /* Временно для сетки */
  min-height: 256px;
  outline: 1px solid #ec1c24;
}

.search b {
  display: block;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;

  /* Временно для сетки */
  min-height: 36px;

  font-size: 30px;
  line-height: 36px;

  color: #000000;

  outline: 1px solid #ec1c24;
  text-align: center;
}

.intro-text {
  margin: 0;
  margin-bottom: 135px;
  padding: 0;

  /* Временно для сетки */
  min-height: 24px;

  font-size: 14px;
  line-height: 24px;
  font-weight: 400;

  text-align: center;

  outline: 1px solid #ec1c24;
}

.container-search {
  width: 568px;
  /* Временно для сетки */
  min-height: 481px;
  outline: 1px solid #ec1c24;
}

.hotel-form {
  padding: 55px;
  /* Временно для сетки */
  min-height: 395px;
}

.search-form-header {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 21px;

  color: #ffffff;

  background-color: rgb(118, 99, 87);
}

.search-form-header:hover {
  color: #ffffff;

  background-color: rgb(96, 78, 67);
}

.search-form-header:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: rgb(80, 62, 51);
}

.search-form-button {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 21px;

  color: #ffffff;

  background-color: rgb(129, 179, 210);
}

.search-form-button:hover {
  color: #ffffff;

  background-color: rgb(102, 158, 192);
}

.search-form-button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: rgb(84, 150, 189);
}

.search-item {
  line-height: 26px;

  color: #000000;
}

.search-item input {
  font: inherit;
  text-transform: uppercase;

  background-color: rgb(242, 242, 242);
  border: none;
}

.search-item input:hover {
  color: rgb(0, 0, 0);

  background-color: rgb(235, 235, 235);
}

.search-item input:focus {
  color: rgb(0, 0, 0);

  background-color: transparent;
  border: 2px solid rgb(229, 229, 229);
}

.page-footer {
  /* Временно для сетки */
  min-height: 120px;
  background: none;

  color: rgb(0, 0, 0);

  background-color: rgba(255, 255, 255, 0.9);
  outline: 1px solid #ec1c24;
}

.page-footer .container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.hashtag {
  margin: 0;
  padding: 45px 0;

  width: 145px;

  outline: 1px solid #ec1c24;

  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
}

.footer-social {
  width: 150px;
  /* Временно для сетки */
  min-height: 120px;
  outline: 1px solid #ec1c24;

  text-align: center;
}

.footer-social ul {
  list-style: none;
}

.footer-copyright {
  margin: 0;
  padding: 40px 0;
  width: 200px;

  outline: 1px solid #ec1c24;
}

.footer-copyright a {
  line-height: 26px;
  font-weight: 400;
  color: rgb(0, 0, 0);
}

.container-inner {
  width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.search-hotels {
  margin: 0;
  padding: 0;
  color: #ffffff;

  background-color: rgb(129, 179, 210);
  background-image: url("../img/filter-background.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 1200px auto;
}

.filters {
  display: flex;
  justify-content: space-between;
  width: 1056px;
  padding: 25px 73px; 
  margin: 0px;

  /* Временно для сетки */
  min-height: 165px;
  outline: 1px solid #ec1c24;
}

.search-checkbox {
  display: flex;
  justify-content: space-between;

  width: 406px;

  /* Временно для сетки */
  min-height: 165px;
  outline: 1px solid #ec1c24;
}

.search-price {
  width: 325px;

  /* Временно для сетки */
  min-height: 165px;
  outline: 1px solid #ec1c24;
}

.filter-title {
  font-size: 16px;

  color: #ffffff;
}

.search-list {
  list-style: none;

  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
}

.price-min,
.price-max {
  font-weight: 400;
  color: #ffffff;

  background-color: transparent;
  border: 2px solid #ffffff;
}

.search-button {
  font-size: 14px;
  line-height: 21px;

  color: #ffffff;

  background-color: transparent;
  border: 2px solid #ffffff;
}

.search-button.button:hover {
  color: rgb(0, 0, 0);

  background-color: #ffffff;
}

.listing-options {
  display: flex;
  margin: 0px;
  padding: 27px 73px;

  background-color: #ffffff;

  /* Временно для сетки */
  min-height: 26px;
  outline: 1px solid #ec1c24;
}

.listing-options b {
  display: block;
  margin: 0;
  padding: 0;
  width: 135px;

  font-size: 21px;
  line-height: 26px;
  
/* Временно для сетки */
  min-height: 26px;
  outline: 1px solid #ec1c24;
}

.sort-by {
  display: flex;
  margin: 0;
  padding: 0;
  width: 363px;

  font-size: 12px;
  line-height: 18px;
  font-weight: 400;

  /* Временно для сетки */
  min-height: 18px;
  outline: 1px solid #ec1c24;
}

.sort-by h3 {
  margin: 0;
  padding: 0;
  width: 110px;
  font-weight: 400;

  /* Временно для сетки */
  outline: 1px solid #ec1c24;
}

.sort-by-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  width: 253px;

  /* Временно для сетки */
  min-height: 18px;
  outline: 1px solid #ec1c24;
}

.sort-by-list,
.sort-value-list {
  list-style: none;
}

.sort-by-list a {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #81b3d2;

  background-color: #ffffff;
}

.sort-by-list a:hover {
  color: #81b3d2;
  border-bottom: 1px dotted #81b3d2;
}

.sort-by-list a:active {
  color: rgb(0, 0, 0);
  border: none;
}

.sort-by-list.active a {
  color: #81b3d2;
  border: none;
}

.hotels-group {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0;
  padding: 0;
  list-style: none;
  padding: 30px 73px;

  background-color: #ffffff;

  /* Временно для сетки */
  min-height: 453px;
  outline: 1px solid #ec1c24;
}

.hotel-item {
  margin: 0;
  padding: 0;
  /* Временно для сетки */
  min-height: 152px;
  outline: 1px solid #ec1c24;
}

.hotel-name {
  line-height: 26px;
}

.hotels-group a {
  color: rgb(0, 0, 0);

  background-color: #ffffff;
}

.hotels-group a:hover {
  color: #81b3d2;
}

.hotels-group a:active {
  color: rgba(0, 0, 0, 0.3);
}

.hotel-type,
.hotel-price {
  font-weight: 400;

  color: #333333;

  background-color: #ffffff;
}


.hotel-price+.read-more-button {
  font-size: 14px;

  color: #ffffff;

  background-color: #81b3d2;
}


.hotel-price+.read-more-button:hover {
  color: #ffffff;
  
  background-color: #669ec0;
}

.hotel-price+.read-more-button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}

.read-more-button+.book-button {
  font-size: 14px;

  color: #ffffff;

  background-color: rgb(118, 99, 87);
}

.read-more-button+.book-button:hover {
  color: #ffffff;

  background-color: rgb(96, 78, 67);
}

.read-more-button+.book-button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: rgb(80, 62, 51);
}

.hotel-rating {
  font-weight: 400;

  color: #666666;

  background-color: #f2f2f2;
}

.visuallyhidden {
position: absolute;

width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;

clip: rect(0 0 0 0);
overflow: hidden;
}
