body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #333333;
  text-transform: uppercase;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.button {
  font-size: 21px;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  border: none;
}

.main-navigation {
  line-height: 26px;
  color: rgb(0, 0, 0);

  background-color: #ffffff;
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover {
  color: #81b3d2;

  background-color: #ffffff;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);

  background-color: #ffffff;
}

.site-navigation.active a {
  color: #766357;

  background-color: #ffffff;
}

.container h1 {
  text-align: center;

  font-size: 21px;
  line-height: 26px;
  color: rgb(0, 0, 0);

  background-color: #ffffff;
}

.subtitle-info {
  text-align: center;

  line-height: 26px;
  font-weight: 400;
  color: #333333;

  background-color: #ffffff;
}

.recommendation-item p{
  color: #333333;
}

.benefits-list {
  list-style: none;
}

.benefits-item {
  text-align: center;
}

.benefits-item h3 {
  font-size: 21px;
}

.number {
  font-weight: 400;
}

.description {
  font-weight: 400;

  color: #333333;
}

.benefits-item-one {
  color: #ffffff;

  background-color: rgb(129, 179, 210);
}

.benefits-item-one .description {
  color: #ffffff;
}

.recommendations-list {
  list-style: none;

  color: rgb(0, 0, 0);

  background-color: #ffffff;
}

.recommendation-item h4 {
  font-size: 21px;
}

.recommendation-item p {
  font-weight: 400;
}

.benefits-item-two {
  color: #ffffff;

  background-color: rgb(129, 179, 210);
}

.benefits-item-two .description {
  color: #ffffff;
}

.benefits-group {
  color: rgb(0, 0, 0);

  background-color: rgb(238, 238, 238);
}

.search b {
  font-size: 30px;
  line-height: 36px;

  color: #000000;
}

.intro-text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

.search-form-header {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 21px;

  color: #ffffff;

  background-color: rgb(118, 99, 87);
}

.search-form-header:hover {
  color: #ffffff;

  background-color: rgb(96, 78, 67);
}

.search-form-header:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: rgb(80, 62, 51);
}

.search-form-button {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 21px;

  color: #ffffff;

  background-color: rgb(129, 179, 210);
}

.search-form-button:hover {
  color: #ffffff;

  background-color: rgb(102, 158, 192);
}

.search-form-button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: rgb(84, 150, 189);
}

.search-item {
  line-height: 26px;

  color: #000000;
}

.search-item input {
  font: inherit;
  text-transform: uppercase;

  background-color: rgb(242, 242, 242);
  border: none;
}

.search-item input:hover {
  color: rgb(0, 0, 0);

  background-color: rgb(235, 235, 235);
}

.search-item input:focus {
  color: rgb(0, 0, 0);

  background-color: transparent;
  border: 2px solid rgb(229, 229, 229);
}

.page-footer {
  color: rgb(0, 0, 0);

  background-color: rgba(255, 255, 255, 0.9);
}

.hashtag {
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
}

.footer-social {
  text-align: center;
}

.footer-social ul {
  list-style: none;
}

.footer-copyright a {
  line-height: 26px;
  font-weight: 400;
  color: rgb(0, 0, 0);
}

.search-hotels {
  color: #ffffff;

  background-color: rgb(129, 179, 210);
  background-image: url("../img/filter-background.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

.filter-title {
  font-size: 16px;

  color: #ffffff;
}

.search-list {
  list-style: none;

  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
}

.price-min,
.price-max {
  font-weight: 400;
  color: #ffffff;

  background-color: transparent;
  border: 2px solid #ffffff;
}

.search-button {
  font-size: 14px;
  line-height: 21px;

  color: #ffffff;

  background-color: transparent;
  border: 2px solid #ffffff;
}

.search-button.button:hover {
  color: rgb(0, 0, 0);

  background-color: #ffffff;
}

.listing-options b {
  font-size: 21px;
  line-height: 26px;
}

.sort-by {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.sort-by h3 {
  font-weight: 400;
}

.sort-by-list,
.sort-value-list {
  list-style: none;
}

.sort-by-list a {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #81b3d2;

  background-color: #ffffff;
}

.sort-by-list a:hover {
  color: #81b3d2;
  border-bottom: 1px dotted #81b3d2;
}

.sort-by-list a:active {
  color: rgb(0, 0, 0);
  border: none;
}

.sort-by-list.active a {
  color: #81b3d2;
  border: none;
}

.hotels-group {
  list-style: none;
}

.hotel-name {
  line-height: 26px;
}

.hotels-group a {
  color: rgb(0, 0, 0);

  background-color: #ffffff;
}

.hotels-group a:hover {
  color: #81b3d2;
}

.hotels-group a:active {
  color: rgba(0, 0, 0, 0.3);
}

.hotel-type,
.hotel-price {
  font-weight: 400;

  color: #333333;

  background-color: #ffffff;
}


.hotel-price+.read-more-button {
  font-size: 14px;

  color: #ffffff;

  background-color: #81b3d2;
}


.hotel-price+.read-more-button:hover {
  color: #ffffff;
  
  background-color: #669ec0;
}

.hotel-price+.read-more-button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}

.read-more-button+.book-button {
  font-size: 14px;

  color: #ffffff;

  background-color: rgb(118, 99, 87);
}

.read-more-button+.book-button:hover {
  color: #ffffff;

  background-color: rgb(96, 78, 67);
}

.read-more-button+.book-button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: rgb(80, 62, 51);
}

.hotel-rating {
  font-weight: 400;

  color: #666666;

  background-color: #f2f2f2;
}

.visuallyhidden {
position: absolute;

width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;

clip: rect(0 0 0 0);
overflow: hidden;
}
