body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #333333;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

.page-container {
  /*min-width: 1200px;*/
  width: 1200px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.button {
  font-size: 21px;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  border: none;
}

.container {
  position: relative;
}

.page-header {
  position: relative;
}

.main-navigation {
  display: flex;

  line-height: 26px;
  color: rgb(0, 0, 0);
}

.site-navigation {
  display: flex;
  align-items: center;

  margin: 0;
  padding: 0;
  margin-left: auto; 
  margin-right: auto; 

  background-color: #ffffff;

  list-style: none;
  flex-wrap: wrap;
}

.header-logo {
  position: absolute;
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;

  width: 138px;
  height: 70px;

  z-index: 3;
}

.site-navigation li {
  width: 239px;
  outline: 1px solid #ec1c24;
  text-align: center;

  flex-basis: 239px;
  flex-grow: 0;
  flex-shrink: 0;
  padding-top: 15px;
  padding-bottom: 15px;
}

.site-navigation li:nth-child(2) {
  margin-right: 240px;

  outline: 1px solid #ec1c24;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover {
  color: #81b3d2;

  background-color: #ffffff;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);

  background-color: #ffffff;
}

.site-navigation .active {
  color: #766357;
  
  background-color: #ffffff;
}

.container {
  background-color: #ffffff;
}

.container-intro {
  position: relative;
}

.background-image {
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;

  width: 1200px;
  height: 508px;
}

.welcome-greeting {
  position: absolute;
  top: 76px;
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;

  width: 458px;
  height: 352px;

  background-color: transparent;
}

.introduction {
  margin-top: 0px;
  margin-bottom: 30px;
  padding: 55px 380px 0px; 
  text-align: center;

  font-size: 21px;
  line-height: 26px;
  color: rgb(0, 0, 0);
}

.subtitle-info {
  margin-bottom: 0px;
  padding: 0px 350px 50px;
  text-align: center;

  line-height: 26px;
  font-weight: 400;
  color: #333333;
}

.benefits-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.benefits-item {
  line-height: 21px;

  background-color: #eeeeee;
  text-align: center;
}

.benefits-item h3 {
  font-size: 21px;
}

.number {
  font-weight: 400;
}

.description {
  font-weight: 400;

  color: #333333;
}

.one-container {
  display: flex;
  flex-wrap: wrap;
}

.content-one,
.content-two {
  color: #ffffff;

  background-color: rgb(129, 179, 210);

  flex-basis: 400px;
  flex-grow: 0;
  flex-shrink: 0;
}

.content-one h3,
.content-two h3,
.benefits-item-group h3 {
  margin: 0;
  padding-top: 45px;
  padding-right: 121px;
  padding-left: 121px; 
  margin-bottom: 25px;
}

.content-one .description,
.content-two .description {
  margin-top: 23px;
  padding-left: 47px;
  padding-right: 47px;
}

.benefits-item-one .description,
.benefits-item-two .description {
  color: #ffffff;
}

.recommendations-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;

  list-style: none;

  color: rgb(0, 0, 0);

  background-color: #ffffff;
}

.recommendation-item {
  flex-basis: 400px;
  flex-grow: 0;
  flex-shrink: 0;
  /* Временно для сетки */
  outline: 1px solid #ec1c24;
}

.recommendation-item h4 {
  margin: 0;
  padding-top: 160px;
  padding-left: 130px;
  padding-right: 130px;
  padding-bottom: 25px;

  font-size: 21px;
}

.recommendation-item p {
  margin: 0;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 83px;
  font-weight: 400;

  color: #333333;
}

.benefit-one-pic,
.benefit-two-pic {
  width: 800px;
  height: 256px;
}

.two-container {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}

.benefits-group {
  display: flex;
  flex-wrap: wrap;

  color: rgb(0, 0, 0);

  background-color: rgb(238, 238, 238);
}

.benefits-item-group {
  flex-basis: 400px;
  flex-grow: 0;
  flex-shrink: 0;
  /* Временно для сетки */
  outline: 1px solid #ec1c24;
}

.benefits-item-group .description {
  margin: 0;
  margin-top: 23px;
  padding-left: 65px;
  padding-right: 65px;
  padding-bottom: 55px;
}

.search b {
  display: block;
  margin-bottom: 22px;
  padding-top: 55px;
  padding-right: 430px;
  padding-left: 430px;

  font-size: 30px;
  line-height: 36px;

  color: #000000;

  outline: 1px solid #ec1c24;
  text-align: center;
}

.intro-text {
  margin-bottom: 47px;
  padding-right: 370px;
  padding-left: 370px;
  font-weight: 400;
  line-height: 24px;

  text-align: center;

  outline: 1px solid #ec1c24;
}

.container-search {
  width: 568px;
  position: relative;
  margin: 0 auto;
  margin-bottom: -398px;

 /* background-color: #ffffff; */
  /* Временно для сетки */
  min-height: 481px;

}

.hotel-form {
  padding: 55px;
  width: 568px;
  background-color: #ffffff;
  /* Временно для сетки */
  min-height: 395px;
  outline: 1px solid #ec1c24;
  
  position: absolute;
  box-sizing: border-box;
}

.search-form-header {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;

  display: block;
  margin: 0 auto;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;

  background-color: rgb(118, 99, 87);
}

.search-form-header:hover {
  color: #ffffff;

  background-color: rgb(96, 78, 67);
}

.search-form-header:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: rgb(80, 62, 51);
}

.search-form-button {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 21px;
  font-weight: 700;

  color: #ffffff;

  background-color: rgb(129, 179, 210);
}

.search-form-button:hover {
  color: #ffffff;

  background-color: rgb(102, 158, 192);
}

.search-form-button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: rgb(84, 150, 189);
}

.search-item {
  line-height: 26px;

  color: #000000;
}

.search-item input {
  font: inherit;
  text-transform: uppercase;

  background-color: rgb(242, 242, 242);
  border: none;
}

.search-item input:hover {
  color: rgb(0, 0, 0);

  background-color: rgb(235, 235, 235);
}

.search-item input:focus {
  color: rgb(0, 0, 0);

  background-color: transparent;
  border: 2px solid rgb(229, 229, 229);
}

.page-footer {
  position: relative;
  margin-top: -123px;
  /* Временно для сетки */
  min-height: 120px;

  color: rgb(0, 0, 0);

  background-color: rgba(255, 255, 255, 0.9);
}

.page-footer .container {
  display: flex;
  justify-content: space-around;
  background-color: transparent;
}

.hashtag {
  margin: 0;
  padding: 0;
  padding-top: 45px;
  padding-bottom: 50px;
  margin-right: -72px;

  outline: 1px solid #ec1c24;

  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
}

.footer-social {
  width: 150px;
  /* Временно для сетки */
  min-height: 120px;
  outline: 1px solid #ec1c24;

  text-align: center;
}

.footer-social ul {
  list-style: none;
}

.footer-copyright {
  margin: 0;
  padding: 38px 0;
  margin-right: -35px;

  outline: 1px solid #ec1c24;
}

.footer-copyright span {
  font-weight: 400;
  line-height: 26px;

  position: relative;
  top: -15px;
}

.container-inner {
  width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.search-hotels {
  margin: 0;
  padding: 0;
  color: #ffffff;

  background-color: rgb(129, 179, 210);
  background-image: url("../img/filter-background.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 1200px auto;
}

.filters {
  display: flex;
  justify-content: space-between;
  width: 1056px;
  padding: 25px 73px; 
  margin: 0px;

  /* Временно для сетки */
  min-height: 165px;
  outline: 1px solid #ec1c24;
}

.search-checkbox {
  display: flex;
  justify-content: space-between;

  width: 406px;

  /* Временно для сетки */
  min-height: 165px;
  outline: 1px solid #ec1c24;
}

.search-price {
  width: 325px;

  /* Временно для сетки */
  min-height: 165px;
  outline: 1px solid #ec1c24;
}

.filter-title {
  font-size: 16px;

  color: #ffffff;
}

.search-list {
  list-style: none;

  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
}

.price-min,
.price-max {
  font-weight: 400;
  color: #ffffff;

  background-color: transparent;
  border: 2px solid #ffffff;
}

.search-button {
  font-size: 14px;
  line-height: 21px;

  color: #ffffff;

  background-color: transparent;
  border: 2px solid #ffffff;
}

.search-button.button:hover {
  color: rgb(0, 0, 0);

  background-color: #ffffff;
}

.listing-options {
  display: flex;
  margin: 0px;
  padding: 27px 73px;

  background-color: #ffffff;

  /* Временно для сетки */
  min-height: 26px;
  outline: 1px solid #ec1c24;
}

.listing-options b {
  display: block;
  margin: 0;
  padding: 0;
  width: 135px;

  font-size: 21px;
  line-height: 26px;
  
/* Временно для сетки */
  min-height: 26px;
  outline: 1px solid #ec1c24;
}

.sort-by {
  display: flex;
  margin: 0;
  padding: 0;
  width: 363px;

  font-size: 12px;
  line-height: 18px;
  font-weight: 400;

  /* Временно для сетки */
  min-height: 18px;
  outline: 1px solid #ec1c24;
}

.sort-by h3 {
  margin: 0;
  padding: 0;
  width: 110px;
  font-weight: 400;

  /* Временно для сетки */
  outline: 1px solid #ec1c24;
}

.sort-by-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  width: 253px;

  /* Временно для сетки */
  min-height: 18px;
  outline: 1px solid #ec1c24;
}

.sort-by-list,
.sort-value-list {
  list-style: none;
}

.sort-by-list a {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #81b3d2;

  background-color: #ffffff;
}

.sort-by-list a:hover {
  color: #81b3d2;
  border-bottom: 1px dotted #81b3d2;
}

.sort-by-list a:active {
  color: rgb(0, 0, 0);
  border: none;
}

.sort-by-list.active a {
  color: #81b3d2;
  border: none;
}

.hotels-group {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0;
  padding: 0;
  list-style: none;
  padding: 30px 73px;

  background-color: #ffffff;

  /* Временно для сетки */
  min-height: 453px;
  outline: 1px solid #ec1c24;
}

.hotel-item {
  margin: 0;
  padding: 0;
  /* Временно для сетки */
  min-height: 152px;
  outline: 1px solid #ec1c24;
}

.hotel-name {
  line-height: 26px;
}

.hotels-group a {
  color: rgb(0, 0, 0);

  background-color: #ffffff;
}

.hotels-group a:hover {
  color: #81b3d2;
}

.hotels-group a:active {
  color: rgba(0, 0, 0, 0.3);
}

.hotel-type,
.hotel-price {
  font-weight: 400;

  color: #333333;

  background-color: #ffffff;
}


.hotel-price+.read-more-button {
  font-size: 14px;

  color: #ffffff;

  background-color: #81b3d2;
}


.hotel-price+.read-more-button:hover {
  color: #ffffff;
  
  background-color: #669ec0;
}

.hotel-price+.read-more-button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}

.read-more-button+.book-button {
  font-size: 14px;

  color: #ffffff;

  background-color: rgb(118, 99, 87);
}

.read-more-button+.book-button:hover {
  color: #ffffff;

  background-color: rgb(96, 78, 67);
}

.read-more-button+.book-button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: rgb(80, 62, 51);
}

.hotel-rating {
  font-weight: 400;

  color: #666666;

  background-color: #f2f2f2;
}

.visuallyhidden {
position: absolute;

width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;

clip: rect(0 0 0 0);
overflow: hidden;
}
